.input-container{
    display: inline-block;
    position: relative
}

.icone-esquerda{
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.icone-direita{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}


.icone-direita:nth-child(3){
    right: 25px;
}


.icone-direita:nth-child(4){
    right: 5px;
}


