.App {
  text-align: center;
  margin-top: 5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


input{
  margin-top: 2rem;
  width: 40rem;
  height: 3rem;
  border-radius:2rem;
  border:1px solid #E3E3E3;
}


.input-container{
  position: relative
}

.icone-esquerda{
  position: absolute;
  left:5px;
  top: 83%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.icone-direita{
  position: absolute;
  top: 83%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.icone-esquerda{
  left:-14.8rem;
}

.icone-direita:nth-child(5){
  right: 4rem;
}


.icone-direita:nth-child(6){
  right: 1.5rem;
}


.icones-input{
 padding-left: 3rem;
 padding-right: 5rem;
 border: 1px solid #ccc;

}


.container{
  display: flex;
  justify-content: center;

}

.button:hover{
  cursor: pointer;
  border: 2px solid #e8e9eb;
}

.button{
  margin: 0.5rem;
  background-color: #F8F8F8;
  color: #7B7B7B;
  border: 0;
  margin-top: 3%;
  height: 2.5rem;
  border-radius: 5px;
  font-family: 'roboto';
  font-size: 1rem;
  width: 10rem;
}


.container-escudo{
  display: flex;
  justify-content:center;
  margin: 3vh;
}

.container-escudo p{
  font-family: 'roboto';
  color: #1A0DBD;
}

.header img{
  margin-top: 1rem;
  width: 7vh;
}

.header h1, h2{
  margin-top: 1.7rem;
  font-family: 'roboto';
  color: #707070;
  font-size: 1rem;
}

.header{
  display: flex;
  justify-content: right;
  gap: 1rem;
  margin-top: -5.5rem;
  margin-right: 1rem;

}

.container-footer{
  background-color: #F2F2F2;
  
}

.block{
  display: flex;
}

.block p{
  display: flex;
  justify-content: left;
  margin: 1rem;
}

.blockB{
  display: flex;
  flex-direction: row;
}